body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cyan;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

.section
{
    background-color: beige;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 50px 0 20px maroon;
    width: 90%;
    max-width: 500px;
}

form input
{
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}


table, th{
    margin-top: 10px;
    border: 2px solid black;

}

a{
        font-size: smaller;
    text-decoration: none;
    color: rgb(46, 77, 171);
    font-weight: bold;
    cursor: pointer;
}

.botonenviar{
    padding: 10px;
    background-color: greenyellow;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    color: blue;
    cursor: pointer;
}

.botonborrar{
    padding: 10px;
    text-decoration: none;
    background-color: rgb(120, 131, 151);
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}